body {
  background-image: url("images/stars.jpg");
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
  width: auto;
  margin: 0;
  text-align: left;
}
.wrapper h1, h2 {
  background-color: aliceblue;
}
.header {
  padding: 7.5px;
  font-size: 30px;
  text-align: left;
}

.images img {
  max-width: 80%;
  height: auto;
  text-align: center;
  font-size: 15px;
}

table.table2 {
    width: 80%;
    height: auto;
    margin: auto;
    font-size: 20px;
    background-color: darkslategrey;
}

table.table2 th {
  border: 2px solid;
  padding: 5px;
}