.wrapper {
  width: auto;
  margin: 0;
  background-color: pinik;
  text-align: left;
}

.header {
  padding: 15px;
  font-size: 30px;
}

.images img {
  max-width: 100%;
  height: auto;
  text-align: center;
  font-size: 15px;
}

table.table2 {
    width: 80%;
    height: auto;
    margin: auto;
    font-size: 20px;
}

table.table2 th {
  border: 5px solid;
  padding: 5px;
}